src/main/mule/customer-bank-exp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:google-maps="http://www.mulesoft.org/schema/mule/google-maps" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:graphql="http://www.mulesoft.org/schema/mule/graphql" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/graphql http://www.mulesoft.org/schema/mule/graphql/current/mule-graphql.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/google-maps http://www.mulesoft.org/schema/mule/google-maps/current/mule-google-maps.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a3f445b6-922c-49ae-9690-f2b3f83727a3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<graphql:config name="Graphql_Config" doc:name="Graphql Config" doc:id="9b6f0209-62ad-410b-9a1c-7c41235f7512" configName="graphql" schemaLocation="schema/customer.graphqls" />
	<http:request-config name="HTTP_Request_config_for_account" doc:name="HTTP Request configuration" doc:id="49e8f28c-a611-4cd2-ac12-72ce0563d7fa" >
		<http:request-connection host="localhost" port="8083" />
	</http:request-config>
	<http:request-config name="HTTP_Request_config_for_balance" doc:name="HTTP Request configuration" doc:id="8a0ad71f-fa31-41df-8e81-19b215e5c124" >
		<http:request-connection host="localhost" port="8082" />
	</http:request-config>
	<http:request-config name="HTTP_Request_config_for_transaction" doc:name="HTTP Request configuration" doc:id="e6fbf568-970b-4a44-926d-3fef91544aef" >
		<http:request-connection host="localhost" port="8084" />
	</http:request-config>
	<google-maps:config name="Google_Maps_Configuration" doc:name="Google Maps Configuration" doc:id="345cfc6f-463e-45c3-9995-45dcd8d92c7d" >
		<google-maps:connection apiKey="AIzaSyCpWUN8SyZ43w6AB_LRaAdN-_Yx3yeW6qg" />
	</google-maps:config>
	<flow name="customer-bank-exp-api" doc:id="53155467-bc77-4c92-8aec-922421ec4af2" >
		<http:listener doc:name="Listener" doc:id="2ef2fc32-941c-458b-a613-8a33ca5583fb" config-ref="HTTP_Listener_config" path="/api/graphql/customer"/>
		<graphql:router doc:name="Router" doc:id="ef4f927a-5460-48d5-8d31-f8c93e380b46" config-ref="Graphql_Config" payload="#[payload]"/>
	</flow>
	<flow name="customer-account-flow" doc:id="acd3f962-4218-4fb9-a72c-3baedb7e5daf" >
		<graphql:graphql-field-resolver doc:name="Graphql field resolver" doc:id="51105388-374c-48a2-9172-9509833b94ce" config-ref="Graphql_Config" fieldName="account"/>
		<scripting:execute engine="groovy" doc:name="Execute" doc:id="d6b595c5-b0b2-49a5-a405-6898c6bd3d9e" >
			<scripting:code ><![CDATA[payload = ['params': attributes.getArguments()]]]></scripting:code>
		</scripting:execute>
		<logger level="INFO" doc:name="Logger" doc:id="afdabc19-a7ea-4dfa-ae81-2d6d136d2539" message="#[AfterExecute: payload.params.id]" />
		<http:request method="GET" doc:name="Calling account system api" doc:id="33f4626b-b479-4b30-a920-d145fe9e5424" config-ref="HTTP_Request_config_for_account" path="/api/accounts/{accountId}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"accountId" : payload.params.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="3c4049a2-e1ee-4c5c-8b3a-395f0a1f9277" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="customer-balance-flow" doc:id="19f9f4c2-221c-492b-b7c2-2d9d1dea01b9" >
		<graphql:graphql-field-resolver doc:name="Graphql field resolver" doc:id="5f957b48-1954-4823-8493-495eca9cab23" config-ref="Graphql_Config" fieldName="balances"/>
		<scripting:execute doc:name="Execute" doc:id="d0520de7-5e4c-4f5b-be41-62d6e0c8f610" engine="groovy">
			<scripting:code ><![CDATA[payload = ['params': attributes.getArguments(), 'source': attributes.getSource()]]]></scripting:code>
		</scripting:execute>
		<http:request method="GET" doc:name="Calling balance system api" doc:id="8e02e53a-cee3-469a-a5d7-8faaf87a31d3" config-ref="HTTP_Request_config_for_balance" path="/api/accounts/{accountId}/balance">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"accountId" : payload.source.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="74c3ef80-802c-4c07-b0e5-b6110437eb54" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="customer-transactions-flow" doc:id="d250102f-c33a-497e-b239-2a5528c1e142" >
		<graphql:graphql-field-resolver doc:name="Graphql field resolver" doc:id="f159e83b-a6e8-497d-a456-186aa0ec988e" config-ref="Graphql_Config" fieldName="transactions"/>
		<scripting:execute engine="groovy" doc:name="Execute" doc:id="058ffb02-1dba-4301-95be-e047ffc51653" >
			<scripting:code ><![CDATA[payload = ['params': attributes.getArguments(), 'source': attributes.getSource()]]]></scripting:code>
		</scripting:execute>
		<http:request method="GET" doc:name="Calling transaction system api" doc:id="3927fb58-cde2-42a3-b4a3-dd760e32440b" config-ref="HTTP_Request_config_for_transaction" path="/api/accounts/{accountId}/transactions">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"accountId" : payload.source.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="816a6bcf-6afd-4047-8f2a-de6630638fa5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
